<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% if @task.completed? %>
<p><%= check_box_tag '', '', @task.completed? %>This task is completed</p>
<% else %>
<p><%= check_box_tag '', '', @task.completed? %>This task is not completed yet</p>
<% end %>
<%= link_to "Back to list", tasks_path %>
<%= link_to "Edit task", edit_task_path %>
<%= link_to "Delete task", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
